/*Imports*/
@import "_mixins.scss";
@import "_variables.scss";
@import "_pesticide-mixin.scss";

/*Pesticide Layout Debug*/
@include pesticide(false);
/*------------------------------*/

/*------------------------------*/
/*Global Typography*/
/*------------------------------*/

body {
	@include base(18px, 1.5, 400);
	background-color: $light-pallette-a;
}


h1 { 
	@include heading(250%, 1.3, 700);
}

h2 { 
	@include heading(200%, 1.3, 700)
}

h3 { 
	@include heading(180%, 1.1, 600);
}

h4 { 
	@include heading(150%, 1.1, 600)
}

.interface {
	@include interface
}

.interface-big {
	@include interface-big
}

/*------------------------------*/
/*Main Sections*/
/*------------------------------*/

header {
	background: $light-pallette-d;
	height: 90px;

	.header-wrap {
		@include outer-container;

		.header-main {
			@include span-columns (8 of 12);
	
			h1 {
				@include title(250%, 1, 800);
			}
		}
	}
}

.menu {
	margin-top: 0px;		
	height: 60px;
	background: $light-pallette-b;

	.menu-wrap {
		@include outer-container;

		.menu-main {
			@include span-columns (8 of 12);
			
			ul { 
				list-style-type: none;
				padding-left: 10px;
			
				li { 				
					@include interface-big;
					@include heading-link;
					color: $heading-color;
					display: inline;  
					margin-right: 20px;
				}
			}
		}
	}
}

.main {
	@include outer-container;
	margin-top: 1em;
	
}

.content {
	@include span-columns(8 of 12);
	
	@include media($mobile) {
		@include span-columns(12 of 12);
	}
}
article {
	
	section.featured-post-image {
		img {
			@include fill-parent;
			@include border-radius(8px);
		}
	}
	
	section.titlebar {
		.title {
			@include span-columns(7 of 8);

			h1 {
				@include margin(0 null null null);
			}
		}

		.category-author {
			@include span-columns(1 of 8); 

			.category {
				background: $grey-pallette-c;
				color: $light-pallette-a;
			}

			.author {
				background: $grey-pallette-a;
				color: $light-pallette-a;
			}
		}
	}
	
	section.metabar {

		.date {
			background: $light-pallette-d;
			@include span-columns(1 of 8);
		}

		.tagbar {
			background: $light-pallette-d;
			@include span-columns(7 of 8);
			//@include margin(null null 2em null);
		}
	}

	section.post-excerpt {
		@include outer-container;
		//Why is this happening?? Why do I need 13em margin for it to work?
		@include margin(13.5em null null null);

		button {
		@include margin(1em null null null);
		}


	}
	

	@include styleguide-section;
}

aside {
	@include span-columns(4 of 12);
	@include interface;
	background-color: $light-pallette-c;

	height: 400px;
	margin-bottom: 500px;
}

@include sticky-footer(60px);

