@import "_mixins.scss";
@import "_variables.scss";

body {
	font-family: $helvetica;
	background-color: #FDF6EB;
}

.header {
	background: #F69669;
	height: 90px;
	
	& .main {

		@include outer-container;

		& .content{

			@include span-columns (10 of 12);
			p {
				margin: 0px;
		     	font-family: "museo-sans-rounded",sans-serif;
				font-size: 40pt;
			}


		}
	}
	
}

.main {
	
	@include outer-container; 
	
		.content {
			@include span-columns(8 of 12);
			
		}

		.sidebar {
			@include span-columns(4 of 12);
			background: #FFB383
		}
	}

@include sticky-footer