/*Imports*/
@import "_mixins.scss";
@import "_variables.scss";
@import "_pesticide-mixin.scss";

/*Pesticide Layout Debug*/
@include pesticide(false);
/*------------------------------*/

/*------------------------------*/
/*Global Typography*/
/*------------------------------*/

body {
	@include base(18px, 1.5, 400);
	background-color: $light-pallette-a;
}


h1 { 
	@include heading(250%, 1.3, 700);
}

h2 { 
	@include heading(200%, 1.3, 700)
}

h3 { 
	@include heading(180%, 1.1, 600);
}

h4 { 
	@include heading(150%, 1.1, 600)
}

.interface {
	@include interface
}

.interface-big {
	@include interface-big
}

/*------------------------------*/
/*Main Sections*/
/*------------------------------*/

header {
	background: $light-pallette-d;
	height: 120px;

	.header-wrap {
		@include outer-container-margin;

		.header-main {
			@include span-columns (8 of 12);
	
			h1 {
				@include title(250%, 1, 800);
			}

			img {
				display: inline;
				height: 1.5em;
				margin-left: 0.2em;
			}
		}
	}
}

.menu {
	margin-top: 0px;		
	height: 60px;
	background: $light-pallette-b;

	.menu-wrap {
		@include outer-container-margin;

		.menu-main {
			@include span-columns (8 of 12);
			
			ul { 
				list-style-type: none;
				padding-left: 10px;
			
				li { 				
					@include interface-big;
					@include heading-link;
					color: $heading-color;
					display: inline;  
					margin-right: 20px;
				}
			}
		}
	}
}

.main {
	margin-top: 1em;
	@include outer-container-margin;	
}

.content {
	@include span-columns(8 of 12);
	@include styleguide-section;

	@include media($mobile) {
		@include span-columns(12 of 12);
	}
}
article.featured-post {
	
	@include margin(null null 1em null);

	section.featured-post-image {
		img {
			@include fill-parent;
			@include border-radius(8px);
		}
	}
	
	section.titlebar {
		.title {
			@include span-columns(7 of 8);

			h1 {
				@include margin(0 null 15px null);
			}
		}

		.category-author {
			@include span-columns(1 of 8); 

			.category {
				@include hover-bump;
				img {
					@include fill-parent;
				}
			}

			.author {
				img {
					@include fill-parent;
					@include border-radius(50%);
					border: 4px solid $dark-pallette-b;
					position: relative;
					top: -1.5em;
				}

				img:hover {
					border: 4px solid $dark-pallette-a;
					@include hover-bump;
				}
			}
		}
	}
	
	section.metabar {

		span.date {
			@include span-columns(1 of 8);
			@include interface-big;
			text-align: center;
		}
			
		span.tag {
			margin-right: 1.5em;
			background: $light-pallette-b;
			@include border-radius(5px);
			padding: 4px 6px 4px 6px;
		}

		span.tag:hover {
			background: $light-pallette-c;
			color: $light-pallette-b;

			a:hover {
				color: $light-pallette-b;
			}	
		}
		
	}


	section.post-excerpt {
		@include outer-container;
		//Why is this happening?? Why do I need 13em margin for it to work?
		@include margin(1em null null null);

		button {
			@include margin(1em null null null);
			@include border-radius (5px);
			background: $light-pallette-b;
			border: none;
			
			a {
				&::after {
				content: " -->"
				}
			}
		}

		button:hover {
			background: $light-pallette-c;
			color: $light-pallette-b;

			a:hover {
				color: $light-pallette-b;
			}	
		}


	}
	
}

aside {
	@include span-columns(4 of 12);
	@include interface;
	background-color: $light-pallette-c;

	height: 400px;
	margin-bottom: 500px;
}

@include sticky-footer(60px);

