/*Imports*/
@import "_variables.scss";

/*----------------------------*/
/*Main Typography*/
/*----------------------------*/

@mixin base-link {
	a { color: $base-link-color; text-decoration: none; }
	a:hover { color: $base-hover-link-color; text-decoration: none; }
}

@mixin heading-link {
	a { color: $heading-link-color; text-decoration: none; }
	a:hover { color: $heading-hover-link-color; text-decoration: none; }
}

@mixin title-link{
	a { color: $title-link-color; text-decoration: none; }
	a:hover { color: $title-hover-link-color; text-decoration: none; }
}

@mixin base($base-font-size, $base-line-height, $base-font-weight) {
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	font-family: $base-font-family;
	color: $base-color;
	@include base-link;
}

@mixin heading($heading-font-size, $heading-line-height, $heading-font-weight) {
	font-size: $heading-font-size;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
	font-family: $heading-font-family;
	color: $heading-color;
	@include heading-link;

}

@mixin title($title-font-size, $title-line-height, $title-font-weight) {
	font-size: $title-font-size;
	font-weight: $title-font-weight;
	line-height: $title-line-height;
	font-family: $title-font-family;
	color: $title-color;
	@include title-link;
}

/*----------------------------*/
/*General Typography*/
/*----------------------------*/

@mixin interface {
	@include base("", "", 400)
}

@mixin interface-big {
	@include base(125%, "", 600)
}

@mixin em-margin($margin-top, $margin-bottom) {
  margin: 0;
  margin-top: $margin-top*1em;
  margin-bottom: $margin-bottom*1em;
}

@mixin footer-text {
	@include heading(120%, "", 600);
	color: lighten($grey-pallette-b, 40%);
	text-shadow: 2px 2px 0px rgba(73,73,73,0.50);
	padding-top: 15px;

	p {
		margin-left: 20px;
	}
}


/*----------------------------*/
/*Components*/
/*----------------------------*/

@mixin sticky-footer($footer-height) {

	* {
		margin: 0;
	}

	html, body {
		height: 100%;
	}

	.wrapper {
	  min-height: 100%;
	  /* Push, equal to footer height */
		margin-bottom: -#{$footer-height}; 
	}

	.wrapper:after {
	  content: "";
	  display: block;
	}

	.sticky-footer, {
	  /* .push must be the same height as footer */
		height: $footer-height; 
	}

	.sticky-footer {
	  background: $grey-pallette-b;
	  @include footer-text;
	}
}

@mixin styleguide-tile {
	
	@include margin(2em null 2em null);				
	background-color: $grey-pallette-0;
	display: block;
	padding: 1em;				
	@include border-top-radius(5px);
	@include border-bottom-radius(5px);

	@include media($mobile) {
		@include margin(2em 0.5em 2em 0.5em);	
	}
	
	h4.styleguide {
		@include heading(150%, 1.5, 600);
		color: darken(grey, 30%);
	}
}

@mixin color-pallete-tile {

	div {
		@include span-columns(2 of 8);
		@include margin(2em 6px 0.1em 6px);	
		
		@include border-top-radius(5px);
		@include border-bottom-radius(5px);
		width: 10em;   
		height: 5em;
		
		@include media($mobile) {
		width: 8em;
		};
		
		//Pallette-text;
		text-align: center;
		padding-top: 1.5em;
	}
}

@mixin styleguide-section {

			section.styleguide-type {
					@include styleguide-tile;
				}


			section.styleguide-color {
								@include outer-container;
								@include styleguide-tile;
								@include color-pallete-tile;

								.grey-pallette-0 {
									background-color: $grey-pallette-0;
									border: 2px solid $grey-pallette-c;
								}

								.grey-pallette-a {
									background-color: $grey-pallette-a;
									color: $grey-pallette-0;
								}

								.grey-pallette-b {
									background-color: $grey-pallette-b;
									color: $grey-pallette-0;
								}

								.grey-pallette-c {
									background-color: $grey-pallette-c;
									color: $grey-pallette-0;
								}

								.light-pallette-a {
									background-color: $light-pallette-a
								}

								.light-pallette-b {
									background-color: $light-pallette-b
								}

								.light-pallette-c {
									background-color: $light-pallette-c
								}

								.light-pallette-d {
									background-color: $light-pallette-d
								}

								.light-pallette-e {
									background-color: $light-pallette-e
								}

								.dark-pallette-a {
									background-color: $dark-pallette-a
								}

								.dark-pallette-b {
									background-color: $dark-pallette-b;
									color: $grey-pallette-0;
								}

								.dark-pallette-c {
									background-color: $dark-pallette-c;
									color: $grey-pallette-0;
								}

								//*------------------------------------*//
								//These should be substituted for a Sass Map **SOON**
								//*------------------------------------*//
							}

}

//*------------------------------------*//
//General Layout Adjustments
//*------------------------------------*//

@mixin same-height {
	padding-bottom: 100%;
	margin-bottom: -100%;
}

@mixin border-radius($border-rad) {
	@include border-top-radius($border-rad);
	@include border-bottom-radius($border-rad);
	@include border-left-radius($border-rad);
	@include border-right-radius($border-rad);
}

@mixin border-radius-dif($top, $right, $bottom, $left) {
	@include border-top-radius($top);
	@include border-bottom-radius($right);
	@include border-left-radius($bottom);
	@include border-right-radius($left);
}

