@mixin sticky-footer {

	* {
	  margin: 0;
	}

	html, body {
	  height: 100%;
	}

	.wrapper {
	  min-height: 100%;
	  height: auto !important;
	  height: 100%;
	  margin: 0 auto -20px;
	}
	.footer, .push {
	  height: 20px; /* same as wrapper's margin bottom */
	  clear: both;
	}

	.footer {
	   background-color: #5E626B;   
	}
}